<launch>

    <node> pkg="pose_estimation" type="get_keypoint_service.py" name="pose_estimation"</node>

    <node> pkg="main_node" type="main_node_run.py" name="main_node"</node>
    
    <node> pkg="rosserial_python" type="serial_node.py" name="serial_USB0" args="/dev/ttyUSB0" </node>

        <node> pkg="rosserial_python" type="serial_node.py" name="serial_USB1" args="/dev/ttyUSB1" </node>


</launch>